﻿@model List<LinqTests.Models.EstudiantesModel>
@{
    ViewBag.Title = "Index";
}



<!--<div class="container">
    <h2>Ejercicios con listas de texto</h2>
    <div class="list-group">
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Filtrando clases que comiencen con "M"</h4>
            /foreach (string item in ViewBag.res1)
            {
                <p class="list-group-item-text">/item</p>
            }
        </a>
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Filtrando clases que terminen con "A"</h4>
            /foreach (string item in ViewBag.res2)
            {
                <p class="list-group-item-text">//item</p>
            }
        </a>
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Filtrando clases que contengan con "q" o "Q" </h4>
            //foreach (string item in ViewBag.res3)
            {
                <p class="list-group-item-text">//item</p>
            }
        </a>
    </div>
</div>-->

<div class="container">
    <br />
    <div class="">
        <div class="row">
                
            <div class="">
                <label id="ver" class="">
                    + Ver más opciones
                </label>
                <form action="@Url.Action("Index","Home")" method="post" id="searchform">

                    <div class="col-sm-12">
                        <div class="" id="opciones">
                            <div class="form-group">
                                <label for="sel" class="label">Buscar</label>
                                <select class="form-control" id="sel" name="tipo">
                                    <option value="1">Nombre</option>
                                    <option value="2">Materia</option>
                                    <option value="3">Promedio</option>
                                </select>
                                <label class="radio-inline">
                                    <input type="radio" name="tipo" value="1">Nombre
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tipo" value="2">Materias
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tipo" value="3">Promedio
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" name="consulta">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class=" col-sm-12 ">

            @if (@ViewBag.busqueda == true)
            {
                <table class="table table-striped">
                    <thead class="active">
                        <tr>
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Materia</th>
                            <th>Promedio</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Carnet</td>
                                <td>@item.Nombre</td>
                                <td>@item.Materia</td>
                                <td>@item.Promedio</td>
                                @if (item.Promedio > 7)
                                {
                                    <td class="success">Aprobado</td>
                                }
                                else
                                {
                                    <td class="danger">Reprobado</td>
                                }
                                <td>@item.Fecha.Day / @item.Fecha.Month / @item.Fecha.Year </td>
                            </tr>
                        }
                    </tbody>

                </table>
            }

        </div>

    </div>
   </div>

@section bloquejs{
<script>
    $(document).ready(function () {
        $("#ver").click(function () {
            $("#opciones").toggle();
        });
        //$("#searchform")
    });
</script>
}